
@{
    ViewBag.Title = "InputEmployee";
}

<form action="~/Home/GetEmployee" method="post">
    @* method mawjc dinh la get *@
    <input type="text" name="name" placeholder="nhap ten" /> 
    <br />
    \
    <br />
    <input type="text" name="age" placeholder="nhap tuoi"/>
    <br />
    <input type="text" name="address" placeholder="Nhap dia chi " />
    <br />
    <button type="submit" > Nhập </button>
</form>
